@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fonte-padrao: 'Roboto', sans-serif;
}
/* Mobile First */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;   
}
nav.navbar-container{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: grid;
    grid-template: repeat(2, minmax(40px, auto)) / repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(40px, auto);
    padding: 0 10px;
    margin-bottom: 25px;
}
    
img#icons-menu{
    display: none;
}
img#logo{
    width: 90px;
}
div.logo-item{
    padding: 10px 0px;
}
div.search-item input{
    display: none;
    transition: width 0.3s ease;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 1px 5px inset rgba(0, 0, 0, 0.1);
}
div.serch-item{
    padding: 3px 8px;
}
div.search-item input[type="search"] {
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: border 0.3s ease;
}
div.search-item input[type="search"]:focus {
  border-color: #0044ff73;
}
div.search-item button {
    display: none;
    border: none;
    background-color: transparent;;
    cursor: pointer;
}
div.icons-item #icons-video{
    display: none;
}
div.icons-item #icons-transmissao{
    display: inline-block;
}
div.icons-item #icons-perfil{
    display: none;
}
div.icons-item button{
    border: none;
    background-color: transparent;;
    cursor: pointer;
}
div.icons-item svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
div.icons-item img{
    width: 20px;
    height: 20px;
}

div.icons-item span{
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #0000008e;
    cursor: pointer;
}
div.icons-item{
    padding: 10px 0px;
    justify-self: end;
    gap: 15px;
    display: flex;
    align-items: start;
}
div.variedades-container{
    width: 100vw;  
    padding: 10px 0px;
    grid-area: 2/1/3/4;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; /*Apredendo o espacamento */
    gap: 10px;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;/* Firefox */
}
div.variedades-container::-webkit-scrollbar{
    display: none; /* Chrome, Safari */
}
div.variedades-container span{
    font-size: 21px;
    color: #00000098;
    cursor: pointer;
    background-color: #eee;
    border: none;
    flex-shrink: 0; /* impede quebra de linha */
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
}
div.variedades-container button{
    background-color: #eee;
    color: black;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    flex-shrink: 0; /* impede quebra de linha */
}
section.main-container{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: repeat(2, minmax(40px, auto)) / repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(40px, auto);
    padding: 0 10px;
}
div.main-item{
    grid-area: 1/1/2/4;
    place-self: start start;
}
div.imagem-recomendada img.imagem-principal{
    width: 100vw;
}
div.informacoes-recomendadas{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    width: 100vw;
}
div.informacoes-recomendadas img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
div.informacoes-recomendadas a{
    text-decoration: none;
}
div.informacoes-recomendadas h4{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
div.informacoes-recomendadas span{
    font-size: 12px;
    color: #0000008e;
}
div.informacoes-recomendadas a:hover{
    text-decoration: underline;

}



    

